@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: Roboto, system-ui;
    color: #1b1a1a;
    background: #eae4e4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;;
}

a {
    text-decoration: none;
}

h1 {
    letter-spacing: 0.2rem;
}

h1:hover {
    content: 'a';
    background-color: red;
}

.container {
    display: flex;
    justify-content: s;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #151414;
    width: clamp(100px, 20vw, 200px);
    height: clamp(100px, 30vh, 200px);
    border-radius: 10px 10px 5px 5px;
    color: #eae4e4;
    padding: 20px;
    transition: all 0.5s;
}

.item:hover {  
    transform: scale(1.1);
}

#info {
    font-size: 0.8rem;
    opacity: 0.5;
}
