@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:focus {
    outline: 2px solid black;
    border-radius: 5px;
}

.container  :focus {
    outline: none;
    border: 5px solid rgb(21, 20, 20);
    border-radius: 10px 10px 5px 5px;
    transition: all 0.1s;
}

body {
    font-family: Roboto, system-ui;
    color: #151414;
    background: #eae4e4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;;
}

header {
    display: flex;
    gap: 20px;
}

button {
    border: none;
    background: none;
}

::selection {
    background-color: rgb(46, 45, 45);
    color: white
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: center;
    padding: 2px;
    border-radius: 10px;
}

h1 {
    font-size: clamp(2rem, 8vw, 2.7rem);
    letter-spacing: 0.2rem;
}

.container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
    flex: 1;
    margin-top: 50px;
    align-content: start;
}

.credits-box {
    flex: 1;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151414;
    width: clamp(100px, 20vw, 120px);
    height: clamp(100px, 30vh, 200px);
    border-radius: 10px 10px 5px 5px;
    padding: 20px;
    transition: all 0.2s;
}

.item:hover {  
    transform: scale(1.1);
}

footer {
    display: flex;
    gap: 20px;
    font-size: 0.8rem;
    opacity: 0.5;
    padding: 10px;  
}

#underline {
    text-decoration: underline;
}

#backlink {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.popout {
    transition: all 0.5s;
}

.popout:hover {
    transform: scale(1.1);
    background-color: rgb(51, 54, 52);
    color: white;
}

#open-modal {
    transition: all 0.2s;
}

#open-modal:hover {
    transform: scale(1.2);
}

#modal {
    padding: 2rem;
    border: none;
    opacity: 0;
    transition: all 0.3s allow-discrete;
}

#modal[open] {
    opacity: 1;
}

@starting-style {
    #modal[open] {
        opacity: 0;
    }
}

#modal p {
    max-width: 40ch;
}

#modal::backdrop {
    background: #1d1d1d9f;
}

.btn {
    background: #000;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    margin-top: 10px;
}

#tip {
    background: #434141;
    margin: 15px 0px;
    color: white;
    border-radius: 3px;
    padding: 5px 20px;
    text-align: center;
}